@import "./utils/variables";
@import "./utils/breakpoints";
@import "./base/commons";
@import "./base/container";
@import "./base/section";
@import "./utils/visually-hidden";
@import "./components/section-title";
@import "./components/modal-btn";
@import "./components/logo";
@import "./components/close-btn";
// @import "./layout/header";
@import "./layout/hero";
@import "./layout/values";
@import "./layout/activity";
@import "./layout/team";
@import "./components/social-list";
// @import "./layout/customers";
// @import "./layout/portfolio-filter-buttons";
// @import "./layout/portfolio-examples";
// @import "./layout/footer";
// @import "./layout/backdrop";
// @import "./layout/modal-window";
// @import "./layout/modal-form";








