

.modal {
    position: absolute;
    bottom: 50%;
    right: 50%;
    height: 100%;
    width: calc(100% - 30px);
    border-radius: 4px;
    padding: 40px;
    margin-left: 15px;
    margin-left: 15px;
    overflow: auto;

    background: var(--background-color);

    transform: translate(50%, 50%) scale(1); 
    transition: transform var(--transition-time) var(--transiton-function);

    .backdrop.is-hidden & {
        transform: translate(50%, 50%) scale(1.1);
    }

    @media screen and (min-width: 480px) {
        width: 450px;
    } 

    @media screen and (min-height: 609px) {
        height: 609px;
    } 

    @media screen and (min-width: 1200px) {
        height: 581px;
        width: 528px;
    } 
}

.modal__title {
    margin-bottom: 12px;

    font-size: 20px;
    line-height: 1.15em;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--secondary-text-color);
}