.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}

.filter__item:not(:last-child) {
    margin-right: 8px;
}

.filter__item:nth-child(-n+3) {
    @media screen and (max-width: 767px) {
        margin-bottom: 15px;
    }
}

.filter__button {
    padding: 6px 22px;
    border: 0px;
    border-radius: 4px;

    font-family: var(--main-font);
    color: var(--secondary-text-color);
    background-color: var(--filter-button-color);
    box-shadow: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.03em;
    text-align: center;
    cursor:pointer;

    transition: color var(--transition-time) var(--transiton-function),
    background-color var(--transition-time) var(--transiton-function),
    box-shadow var(--transition-time) var(--transiton-function);

    &:hover,
    &:focus {
    color: var(--background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
}



