.values {
}

.values-list {
    
}

.values-list__item:not(:last-child) {
    margin-right: 30px;
}

.values-list__block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    
    border-radius: 4px;

    background-color: var(--secondary-background-color);
}

.values-list__title {
    margin-bottom: 10px;

    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.values-list__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

// .values {
//     padding-top: 125px;
// }

// .values-list {
//     display: flex;
// }

// .values-list__item:not(:last-child) {
//     margin-right: 30px;
// }

// .values-list__block {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 270px;
//     height: 120px;
//     margin-bottom: 30px;
//     border-radius: 4px;

//     background-color: var(--secondary-background-color);
// }

// .values-list__title {
//     margin-bottom: 10px;

//     color: var(--secondary-text-color);
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
// }

// .values-list__text {
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
// }