.mobile-menu {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;

    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;

    background-color: #fff;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu__container {
    padding: 48px 40px;
}

.mobile-menu-close-btn {
    position: absolute;
    top: 21px;
    right: 25px;

    background-color: transparent;
    border: none;
    padding: 0;
}

.mobile-menu-close-btn__icon {
    fill: var(--secondary-text-color);

    &:hover,
    &:focus {
    fill: var(--accent-color);
    }
}