.social-list {
    display: flex;
}

.social-list__item:not(:last-child) {
    margin-right: 10px;
}

.social-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: var(--background-color);

    transition: background-color var(--transition-time) var(--transiton-function);

    &:hover,
    &:focus {
    background-color: var(--accent-color);
    }

}

.social-list__link_dark {
    background-color: rgba(255, 255, 255, 0.1);
   }

.social-list__icon {
    fill: var(--social-links-color);

    transition: fill var(--transition-time) var(--transiton-function);

    .social-list__link:hover &,
    .social-list__link:focus & {
        fill: var(--background-color);
    }
}

.social-list__icon_white {
    fill: var(--background-color);
}

