:root {
    --background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --main-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;
    --footer-color: #2F303A;
    --filter-button-color: #F5F4FA;
    --button-accent-color: #188CE8;
    --logo-black-color: #000000;
    --header-border-color: #ECECEC;
    --portfolio-border-color: #EEEEEE;
    --social-links-color: #AFB1B8;
    --main-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;
    --transiton-function: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-time: 250ms;
}